@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');


:root {
    --fontSyne: "Syne", sans-serif;
    --colorBlack: #222;
    --colorRed: #fd3b3b;
    --colorWhite: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    margin: auto;
    padding-top: 40px;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.hader_logo {
    width: 100%;
    max-width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hader_logo>img {
    width: 100%;
}

.header_nav {
    width: 100%;
    max-width: 369px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav>a {
    text-decoration: none;
    font-family: var(--fontSyne);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: var(--colorBlack);
    transition: all 0.4s;
}

.header_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 206px;
}

.header_btn>a {
    font-family: var(--fontSyne);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: var(--colorRed);
    text-decoration: none;
    position: relative;
    transition: all 0.4s;
}

.header_btn>a:hover {
    color: var(--colorBlack);
}

.header_nav>a:hover {
    color: var(--colorRed);
}

.header_btn>a::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -16px;
    background-color: var(--colorBlack);
    opacity: 0.5;
}

.header_btn>button {
    width: 100%;
    max-width: 120px;
    border-radius: 32px;
    background-color: var(--colorRed);
    font-family: var(--fontSyne);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: var(--colorWhite);
    padding: 10.5px 26px;
    border: 2px solid var(--colorRed);
    cursor: pointer;
    transition: all 0.4s;
}

.header_btn>button:hover {
    background-color: var(--colorWhite);
    color: var(--colorRed);
}


.container_heroSection {
    position: relative;
}

.section_hero {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    position: relative;
}

.section_hero_image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.section_hero_image>img {
    width: 100%;
}

.section_hero_left {
    width: 100%;
    max-width: 414px;
}

.section_hero_left>h1 {
    font-size: 56px;
    font-family: var(--fontSyne);
    font-weight: 700;
    line-height: 67.2px;
    color: var(--colorBlack);
}

.section_hero_left>p {
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.6;
    margin-top: 56px;
    max-width: 320px;
}

.section_hero_left>button {
    width: 100%;
    max-width: 156px;
    border-radius: 32px;
    padding: 10.5px 26px;
    color: var(--colorWhite);
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
    font-family: var(--fontSyne);
    margin-top: 56px;
    background-color: var(--colorRed);
    border: 1px solid var(--colorRed);
    cursor: pointer;
    transition: all 0.4s;
}

.section_hero_left>button:hover {
    background-color: var(--colorWhite);
    color: var(--colorRed);
}

.section_hero_left_social {
    width: 100%;
    max-width: 106px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    gap: 16px;
}

.section_hero_left_social>span {
    width: 14px;
    height: 14px;
}

.section_hero_right {
    width: 100%;
    max-width: 204px;
}

.section_hero_right_img {
    display: flex;

}

.section_hero_right_img_item {
    width: 60px;
    height: 60px;
}

.section_hero_right_img_item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
}

.section_hero_right_img_item:nth-of-type(2) {
    transform: translateX(-12px);

}

.section_hero_right_img_item:nth-of-type(3) {
    transform: translateX(-24px);
}

.section_hero_right>h3 {
    margin-top: 32px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: var(--colorBlack);
    font-family: var(--fontSyne);
}

.section_hero_right>p {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16.8px;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    opacity: 0.6;
}

.section_hero_right_category {
    margin-top: 210px;
    display: flex;
    row-gap: 12px;
    column-gap: 8px;
    width: 100%;
    max-width: 204px;
    flex-wrap: wrap;
}

.section_hero_right_category>button {
    padding: 10.5px 24px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 600;
    font-family: var(--fontSyne);
    color: var(--colorWhite);
    border-radius: 32px;
    border: 1px solid var(--colorRed);
    background-color: transparent;
    color: var(--colorRed);

}

.section_hero_center {
    width: 100%;
    max-width: 142px;
    height: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 12%;
    left: 63%;
    padding: 30px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.section_hero_center>h1 {
    font-size: 48px;
    font-family: var(--fontSyne);
    font-weight: 500;
    line-height: 57.6px;
    color: var(--colorBlack);
}

.section_hero_center>p {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: var(--colorBlack);
    opacity: 0.6;
    text-align: center;
}

.section_hero_right>a {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    color: var(--colorBlack);
    font-family: var(--fontSyne);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    text-decoration: none;
    width: 100%;
    max-width: 150px;
}


.section_partner {
    width: 100%;
    max-width: 1340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 25px;
    margin: auto;
    margin-top: 77px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.section_carCollection {
    width: 100%;
    max-width: 968px;
    margin: auto;
    margin-top: 100px;
}

.section_carCollection>span {
    font-family: var(--fontSyne);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--colorBlack);
    text-align: center;
    display: block;
}

.section_carCollection>h1 {
    margin-top: 16px;
    font-size: 56px;
    line-height: 67.2px;
    color: var(--colorBlack);
    font-family: var(--fontSyne);
    text-align: center;
    font-weight: 700;
}

.section_carCollection_row {
    margin-top: 100px;
    display: flex;
    row-gap: 48px;
    column-gap: 64px;
    flex-wrap: wrap;
}

.section_carCollection_row_col {
    width: 100%;
    max-width: 280px;
    padding: 12px 12px 24px;
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 0.03);
}

.section_carCollection_row_col_img {
    width: 100%;
    height: 204px;
    background-color: #fff;
}

.section_carCollection_row_col_img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section_carCollection_row_col_text {
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 32px;
}

.section_carCollection_row_col_text>h2 {
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
}

.section_carCollection_row_col_option {
    margin-top: 23px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.section_carCollection_row_col_title>p {
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    opacity: 0.5;
}

.section_carCollection_row_col_title>h3 {
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    margin-top: 5px;
}

.section_carCollection_row_col_option>button {
    width: 100%;
    max-width: 95px;
    color: var(--colorWhite);
    background-color: var(--colorRed);
    border: 1px solid var(--colorRed);
    border-radius: 32px;
    padding: 10.5px 26px;
    font-size: 16px;
    line-height: 19.2px;
    font-family: var(--fontSyne);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s;
}

.section_carCollection_row_col_option>button:hover {
    background-color: transparent;
    color: var(--colorRed);
}

.section_carCollection_pagination {
    margin: auto;
    margin-top: 100px;
    width: 100%;
    max-width: 247px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 21.5px;
}

.section_carCollection_pagination_item {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: rgba(34, 34, 34, 0.6);
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
}

.section_carCollection_pagination_item:first-of-type {
    color: var(--colorRed);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    border-color: var(--colorRed);
}

.section_carCollection_pagination_item:hover {
    color: var(--colorRed);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}




.section_third {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 100px;
}

.section_third_text {
    width: 100%;
    max-width: 416px;
    padding-top: 39px;
}

.section_third_text > h1 {
    font-size: 56px;
    line-height: 67.2px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
}

.section_third_text > p {
    margin-top: 123px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    max-width: 272px;
}

.section_third_image {
    width: 100%;
    max-width: 912px;
    position: relative;
}

.section_third_image_box {
    width: 100%;
    height: 525px;
}

.section_third_image_box > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section_third_image_item {
    position: relative;
    position: absolute;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
    padding: 20px;
    max-width: 180px;
}

.section_third_image_item > h3 {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 600;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    text-align: center;
}

.section_third_image_item > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    opacity: 0.6;
    text-align: center;
    margin-top: 12px;
}

.section_third_image_item:nth-of-type(3) {
    top: 100px;
    left: 69px;
}

.section_third_image_item:nth-of-type(2) {
    top: 27px;
    right: 271px;
}

.section_third_image_item:nth-of-type(4) {
    top: 304px;
    right: 0;
}

.section_third_image_item::after {
    content: "";
    width: 6.9px;
    height: 6.9px;
    background-color: #fff;
    border: 9.2px solid rgba(255, 0, 0, 0.5);
    outline: 6.9px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    position: absolute;
    bottom: -4.5px;
    right: -7px;
}

.section_third_image_item:nth-of-type(4)::after {
    top: -4.5px;
    left: -7px;
}

.section_third_image_item:nth-of-type(2)::after {
    bottom: -4.5px;
    left: -7px;
}


.testimonals_section {
    max-width: 1440px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    padding-top: 110px;
}

.testimonals_section_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.testimonals_section_background > img {
    width: 100%;
}

.testimonals_section_main {
    max-width: 1340px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.testimonals_section_main > button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.testimonals_section_main_text {
    width: 100%;
    max-width: 985px;
}

.testimonals_section_main_text > p {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    color: var(--colorRed);
    font-family: var(--fontSyne);
    text-align: center;
}

.testimonals_section_main_text > h1 {
    margin-top: 40px;
    font-size: 48px;
    line-height: 57.6px;
    font-size: 500;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    text-align: center;
}

.testimonals_section_main_text_profile {
    width: 100%;
    max-width: 222px;
    margin: auto;
    margin-top: 40px;
}

.testimonals_section_main_text_profile_image {
    width: 72px;
    height: 72px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
}

.testimonals_section_main_text_profile_image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2.2);
    object-position: 0 10px;
}

.testimonals_section_main_text_profile > h4 {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    opacity: 0.6;
}


.section_step {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    margin-top: 200px;
    position: relative;
}

.section_step_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section_step_image > img{
    width: 100%;
    height: 100%;
}

.section_step > p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    text-align: center;
}

.section_step > h1 {
    margin-top: 16px;
    font-size: 56px;
    line-height: 67.2px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    text-align: center;
    margin-bottom: 100px;
}

.section_step_item {
    width: 100%;
    display: flex;
    max-width: 876px;
    margin: auto;
}

.section_step_item:not(:first-of-type){
    margin-top: 50px;
}

.section_step_item:first-of-type{
    margin-top: 100px;
}

.section_step_item:last-of-type{
    margin-bottom: 100px;
}

.section_step_item:nth-of-type(odd){
    justify-content: flex-end;
    padding-left: 40px;
}

.section_step_item:nth-of-type(even){
    justify-content: flex-start;
    padding-right: 40px;
}

.section_step_item:nth-of-type(odd) > .section_step_item_box > .section_step_item_box_text{
    order: 2;
}

.section_step_item:nth-of-type(even) > .section_step_item_box > .section_step_item_box_text{
    order: 1;
    text-align: right;
}

.section_step_item:nth-of-type(odd) > .section_step_item_box > .section_step_item_box_icon{
    order: 1;
}

.section_step_item:nth-of-type(even) > .section_step_item_box > .section_step_item_box_icon{
    order: 2;
}

.section_step_item_box{
    width: 100%;
    max-width: 378px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    position: relative;
}

.section_step_item_box_text{
    padding: 8.5px 0;
}

.section_step_item_box_text > h1{
    font-size: 24px;
    line-height: 28.8px;
    color: var(--colorBlack);
    font-family: var(--fontSyne);
    font-weight: 700;
}

.section_step_item_box_text > p{
    max-width: 196px;
    margin-top: 32px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    opacity: 0.6;
}

.section_step_item_box_icon{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--colorWhite);
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.2));
    box-shadow: 4px 4px  10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


.section_step_item:nth-of-type(3) > .section_step_item_box > .section_step_item_box_icon{
    background: #FD3B3B;
}


.section_step_item_box::after{
    content: "";
    width: 6.9px;
    height: 6.9px;
    background-color: #fff;
    border: 9.2px solid rgba(0, 0, 0, 0.5);
    outline: 6.9px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
}

.section_step_item_box::before{
    content: "";
    width: 1px;
    height: 100%;
    border-left: 1.8px dashed rgba(34, 34, 34, 0.6);
    position: absolute;
    top: 34px;
}

.section_step_item:nth-of-type(even) > .section_step_item_box::after{
    top: 0px;
    left: calc(100% + 60px);
}

.section_step_item:nth-of-type(odd) > .section_step_item_box::after{
    top: 0px;
    right: calc(100% + 35px);
}

.section_step_item:nth-of-type(even) > .section_step_item_box::before{
    left: calc(100% + 70px);;
}

.section_step_item:nth-of-type(odd) > .section_step_item_box::before{
    left: -50px;
}

.section_step_item:last-of-type > .section_step_item_box::before{
    content: none;
}

.section_step_item:nth-of-type(3) > .section_step_item_box::after{
    background-color: #fff;
    border: 9.2px solid rgba(255, 0, 0, 0.5);
    outline: 6.9px solid rgba(255, 0, 0, 0.25);
}
.section_banner {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 80px 193px 80px 0;
}

.section_banner_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;


}

.section_banner_image>img {
    width: 100%;
    height: 100%;


}

.section_banner_title {
    width: 100%;
    max-width: 418px;



}

.section_banner_title>h1 {
    font-size: 56px;
    line-height: 67.2px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorWhite);

}

.section_banner_title>p {
    margin-top: 32px;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorWhite);


}

.section_banner_title_buttons {
    width: 100%;
    max-width: 354px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 16px;


}

.section_banner_title_buttons_item {
    width: 100%;
    max-width: 169px;
    cursor: pointer;
    transition: all 0.3s;
}

.section_banner_title_buttons_item:hover {
    transform: scale(1.05)
}

footer {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer_sub {
    width: 100%;
    max-width: 552px;
}
.footer_sub>h1 {
    font-size: 56px;
    line-height: 67.2px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorWhite);
}
.footer_sub>p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: rgba(34, 34, 34, 0.6);
    margin-top: 16px;
}
.footer_sub>h1{
color: #222;
}
.footer_sub>form {
    margin-top: 56px;
    display: flex;
    border: 1px solid var(--colorBlack);
    padding: 20px 32px;
    border-radius: 50px;
    justify-content: space-between;
}
.footer_sub>form>input {
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    font-family: var(--fontSyne);
    width: 100%;
    max-width: 240px;
}
.footer_sub>form>input::placeholder {
    color: rgba(34, 34, 34, 0.6);
}
.footer_sub>form>button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    max-width: 32px;
}
.footer_nav {
    width: 100%;
    max-width: 583px;
}
.footer_nav>p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    margin-top: 56px;
}
.footer_nav_box {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

/* .footer_nav_box_item{
    display: flex;
    -ms-flex-direction: column;} */


.footer_nav_box_item > h1 {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
}

.footer_nav_box_item>a:first-of-type {
    margin-top: 19px;
}

.footer_nav_box_item>a {
    width: 100%;
    margin-top: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: var(--colorBlack);




}

.footer_nav_box_item>a:hover {
    color: rgba(34, 34, 34, 0.6);
}

.topBtn {
    width: 36px;
    height: 36px;
    background-color: #fd3b3b;
    border-radius: 50%;
    position: sticky;
    bottom: 56px;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;




}